<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Carros Cadastrados</title>
</head>
<body>
<h1>Dashboard de Carros</h1>
<table border="1">
    <thead>
    <tr>
        <th>Nome</th>
        <th>Cor</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.name}"></td>
        <td th:text="${car.color}"></td>
        <td>
            <form th:action="@{'/cars/update/' + ${car.id}}" method="get" style="display:inline">
                <button type="submit">Editar</button>
            </form>

            <form th:action="@{'/cars/' + ${car.id}}" method="post" style="display:inline">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit">Excluir</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
